Repository feigebaobei/web-stone: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run md

docs(books): init pmi
  books/index.html
  books/index.md
  books/pmi.html
  books/pmi.md
  books/wenchangdijunkaixincongmingshenzou.md
  git/index.html
  language/javascript/array.html
  language/javascript/array.md
  language/javascript/index.md
  language/javascript/string.html
  language/javascript/string.md
  language/node/compare16_18.html
  language/node/compare16_18.md
  language/typescript/index.md
  package-manager/npm/index.md
  test.html
  test/errorResolve.html
Due: prettier --write, npm run md

docs(dev): 微卡片
  development/index.md
  development/microCard/index.html
  development/microCard/index.md
  git/command.md
  git/index.md
  index.html
  language/javascript/array.html
  language/javascript/array.md
  pmp/index.html
  pmp/index.md
  test/index.html
Due: prettier --write, npm run md

docs(books): pmbok7
  books/pmp-cn-jiaocaidabao-4/pmbok6.md
  books/pmp-cn-jiaocaidabao-4/pmbok7.html
  books/pmp-cn-jiaocaidabao-4/pmbok7.md
  index.html
Due: prettier --write, npm run md

docs(books): 地藏菩萨本愿经
  books/dizangpusabenyuanjing.html
  books/dizangpusabenyuanjing.md
  books/index.html
  books/index.md
  browser/dom.html
Due: prettier --write, npm run md

docs(books): 百字经
  books/baizijing.html
  books/baizijing.md
Due: prettier --write, npm run md

docs(browser): init bom
  books/W020241126524038988291.pdf
  books/pmp-cn-jiaocaidabao-4/pmbok7.md
  browser/bom.html
  browser/bom.md
Due: prettier --write, npm run md

docs(browser): dom
  browser/dom.md
  language/html/dragDemo.html
  language/javascript/dataTransfer.html
  pmp/index.html
Due: prettier --write, npm run md

docs(browser): init extension
  browser/extension.html
  browser/extension.md
  browser/index.html
  browser/index.md
Due: prettier --write, npm run md

docs(dev): 微卡片
  db/mongodb/node_mongodb.md
  development/microCard/index.html
  development/microCard/index.md
  language/html/iframe.html
  language/html/iframe.md
  language/html/index.md
  language/html/webui.png
Due: prettier --write, npm run md

docs(song): init
  song/index.html
  song/index.md
  song/xiangwozheyangderen.html
  song/xiangwozheyangderen.md
Due: prettier --write, npm run md

docs(framework): init jquery
  builder/index.md
  framework/index.md
  framework/jquery.html
  framework/jquery.md
Due: prettier --write, npm run md

docs(html): drag/drop
  language/html/drag.md
  language/javascript/dataTransfer.html
  language/javascript/dataTransfer.md
  language/javascript/index.md
  package-manager/npm/index.md
  package-manager/npm/subCommand.html
  package-manager/npm/subCommand.md
Due: prettier --write, npm run md

docs(npm): 发布到指定源
  language/javascript/index.html
  package-manager/npm/publish.html
  package-manager/npm/publish.md
Due: prettier --write, npm run md

docs(eidtor): 富文件编辑器
  books/index.html
  books/index.md
  confuse/edit.html
  confuse/edit.md
  package-manager/npm/publish.html
Due: prettier --write, npm run md

docs(confuse): json & form-data
  books/dizangpusabenyuanjing.html
  books/dizangpusabenyuanjing.md
  confuse/formData&json.html
  confuse/formData&json.md
  confuse/index.md
  language/html/index.html
  language/html/index.md
Due: prettier --write, npm run md

docs(test): 解决错误的常用方法
  test.html
  test/errorResolve.md
  test/index.html
  test/index.md
  test/playwright.html
  test/playwright.md
Due: prettier --write, npm run md

docs(confuse): import.meta
  confuse/importMata.md
  confuse/index.md
Due: prettier --write

docs(ubuntu): 安装软件
  system/linux/ubuntu.html
  system/linux/ubuntu.md
Due: prettier --write, npm run md

docs(system): command
  system/linux/command.md
  system/linux/index.md
Due: prettier --write

docs(ai): init ollama
  ai/index.md
  ai/n8n.md
  ai/ollama.md
Due: prettier --write

docs(ai): ai
  ai/cline.md
  ai/index.md
  ai/mcp/index.md
  ai/n8n.md
Due: prettier --write

docs(books): 教训
  books/index.md
  books/pmp-cn-jiaocaidabao-4/pmbok7.md
  books/theBitterLesson.md
Due: prettier --write

docs(confuse): ias 基础设施即代码
  confuse/iac.md
  confuse/index.md
  confuse/webhook.md
Due: prettier --write

docs(system): ubuntu
  package-manager/npm/subCommand.md
  system/linux/index.md
  system/linux/terminal.md
  system/linux/ubuntu.md
Due: prettier --write

docs(hard): init
  hard/gpu.md
  hard/index.md
Due: prettier --write

docs(books): 地藏经
  books/deepseek.html
  books/deepseek.md
  books/dizangpusabenyuanjing.html
  books/dizangpusabenyuanjing.md
  books/pmp-cn-jiaocaidabao-4/pmbok7.html
  books/pmp-cn-jiaocaidabao-4/pmbok7.md
  test.html
Due: prettier --write, npm run md

docs(browser): 浏览器扩展程序
  browser/bom.html
  browser/bom.md
  browser/devTool.md
  browser/extentions/confuse.html
  browser/extentions/confuse.md
  browser/extentions/index.html
  browser/extentions/index.md
  browser/extentions/runtime.html
  browser/extentions/runtime.md
  browser/extentions/tabs.html
  browser/extentions/tabs.md
  browser/frontStorage/index.html
  browser/frontStorage/index.md
  browser/index.md
  browser/origin&cors.md
Due: prettier --write, npm run md

docs(books): 新人手册
  browser/frontStorage/index.html
  confuse/front&end.html
  confuse/newMember.html
  confuse/newMember.md
  confuse/ors.html
  confuse/ors.md
Due: prettier --write, npm run md

docs(builder): init tsup
  builder/tsup/index.html
  builder/tsup/index.md
  design/index.md
  frontStore/indexedDB.html
  frontStore/indexedDB.md
  frontStore/webStorage.md
Due: prettier --write, npm run md

docs(language): frame中的属性
  language/html/iframe.html
  language/html/iframe.md
  language/javascript/webWorker.md
Due: prettier --write, npm run md

docs(frame): angular
  framework/angular/component.md
  framework/angular/dataFlow.md
  framework/angular/decorator.html
  framework/angular/decorator.md
  framework/angular/directive.md
  framework/angular/family/angularCommon.html
  framework/angular/family/angularCommon.md
  framework/angular/family/angularCore.html
  framework/angular/family/angularCore.md
  framework/angular/organization.html
  framework/angular/organization.md
  framework/angular/service.md
  framework/jquery.html
  framework/jquery.md
Due: prettier --write, npm run md

docs(jsPackages): init forever
  development/efficiency.html
  development/efficiency.md
  jsPackages/forever.html
  jsPackages/forever.md
  package-manager/npm/subCommand.html
  package-manager/npm/subCommand.md
  safety&hacker/index.md
Due: prettier --write, npm run md

docs(ai): 移到mcp文件
  ai/index.md
  ai/mcp/index.html
  ai/n8n/index.html
  ai/n8n/index.md
Due: prettier --write, npm run md

chore(all): test
  todo.md
Due: prettier --write

docs(ai): n8n setup
  ai/n8n/setup.md
Due: prettier --write

docs(ai): n8n setup
  ai/n8n/index.html
  ai/n8n/index.md
  ai/n8n/setup.html
Due: prettier --write, npm run md

chore(test): test
  test.html
Due: npm run md

chore(test): test
  ai/n8n/setup.html
  test.html
Due: npm run md

Path conditions:
  prettier --write: any of: *.{js,md}
  npm run md: any of: *.html
